<div class="container">
<h2><%= @cocktail.name %></h2>
<ul><% @cocktail.doses.each do |dose| %>
<li><%= dose.ingredient.name %>: <%= dose.description %></li>
<li><%= link_to "Delete dose", dose_path(dose), method: :delete %></li>
<% end %> 
<li><%= link_to "Add dose",  new_cocktail_dose_path(@cocktail) %> </li>
<li><%= link_to "Go back to cocktails", cocktails_path %></li>
</ul>
</div>

  
    
  



